@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #1b1b1b !important;
}
.product {
  margin-top: 80px;
}
.col-lg-2.col-sm-1.col-md-4.col-xs-6.item {
  margin: 0px 16px;
}
.loader {
  margin-top: 80px;
}
.MuiPagination-ul {
  justify-content: center;
  margin: 10px;
}
.admin{
  margin-top: 100px;
}
body {
  background-color: #e9e7e7;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
